.navbar {
  background-color: #333;
  padding: 0;
  margin-bottom: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding-left: 5px;
}

.nav-list li a.active {
  border-bottom: 2px solid #fff;
}
