/* Your styles go here */
@import url("bootstrap/dist/css/bootstrap.min.css");
@import url("bootstrap-icons/font/bootstrap-icons.css");


.jumbotron {
    background: url(https://images.unsplash.com/photo-1465220183275-1faa863377e3?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); 
    background-position: 0 -100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.resortJumbo {
    background: url(https://images.unsplash.com/photo-1609668299930-435235fc4973?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 -400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.resortsBackground {
    background: url(https://images.unsplash.com/photo-1451159212029-6f35f0d0a501?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gearJumbo {
    background: url(https://images.unsplash.com/photo-1585919269458-6259dfe9f21a?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 -240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.galleryJumbo {
    background: url(https://images.unsplash.com/photo-1467622234040-7f51f6ae22a6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 -400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.historyJumbo {
    background: url(https://images.unsplash.com/photo-1512273222628-4daea6e55abb?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: 0 -100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.youtube-embed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube-embed iframe {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    margin-right: 30px;
    float: right;
    background-color: lightgray;
  }

.right-img {
    width: 30%;
    padding-left: 15px;
    margin-right: 30px;
    float: right;
}

.left {
    width: 30%;
    float: left;
  }
